/* style.css */

/* Menambahkan font "Roboto" dari Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* Global Styles */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    line-height: 1.6;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header */
  .header {
    font-family: "Montserrat", sans-serif;
    position: relative;
    height: 400px;
    overflow: hidden;
  }
  
  .header-image {
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
  }
  
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  /* Navbar */
  nav {
    
    top : 0;
    position: sticky;
    font-family: "Roboto", sans-serif;
    background-color: #fffffffd;
    padding: 20px;
  }
  
  nav ul {
    
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul li {
    
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #525252;
    transition: color 0.3s;
    
  }
  
  nav ul li a:hover {
    color: #000000;
  }
  
  /* Profile */
  #profile {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: #666666;
    padding: 50px;
    color: #fff;
  }
  
  .profile-info {
    text-align: center;
    color: #fff;

  }
  
  .profile-info img {
    width: 20%;
    height: 20%;
    border-radius: 20%;
    color: #fff;

  }
  
  /* Education and Achievement */
  #education-achievement {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: #666666;
    padding: 50px;
    list-style: none;
    color: #fff;

  }
  
  /* Experience */
  #experience {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: #666666;
    padding: 50px;
    color: #fff;
    list-style: none;
  }
  
  /* Skills */
  #hobi {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: #666666;
    padding: 50px;
    list-style: none;
    color: #fff;

  }
  
  /* Portfolio */
  #portfolio {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: #666666;
    padding: 50px;
    color: #fff;

    
  }
  .linkportofolio a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  /* Contact */
  #contact {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: #666666;
    padding: 50px;
    list-style: none;
    color: #fff;

    
  }
  
  /* Testimonials */
  #testimonials {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: #666666;
    padding: 50px;
    color: #fff;

  }
  
  /* Footer */
  footer {
    font-family: "Roboto", sans-serif;
    background-color: #202020;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  