body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 5px;
}
#login-container,
#create-account-container,
#dashboard-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-top: 0;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

button {
    
    display: block;
    width: 80px;
    padding: 10px;
    background-color: #5569c7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

a {
    color: #5569c7;
    text-decoration: none;
}

#dashboard-container button {
    margin-bottom: 10px;
}

#dashboard-container button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5569c7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    
}

#dashboard-container a {
    display: block;
    width: 60px;
    padding: 10px;
    background-color: #5569c7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

#dashboard-container h2 {
    margin-bottom: 0;
    color: #445396;
}

#dashboard-container form input[type="number"] {
    margin-right: 5px;
}

#dashboard-container div {
    margin-bottom: 10px;
}

#dashboard-container div form input[type="number"] {
    width: 90%;
    margin-right: 5px;
}

#dashboard-container div form button {
    width: 30%;
}

.container {
    max-width: 400px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


button img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    width: 20px;
    height: 20px;
}


